@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonial-bg: hsl(219, 30%, 18%);
    --intro-bg: hsl(217, 28%, 15%);
    --cyan: hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);

}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    background-color: var(--intro-bg);
    color: white;
    padding-top: 1.5rem;
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.logo {
    width: 8rem;
    height: 100%;
    align-self: center;
}

.nav-menu {
    width: 100%;
}

.nav-menu > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-option > a{
    text-decoration: none;
    line-height: 1.4rem;
    color: silver;
}

.section-hero {
    padding:7rem 3rem 17rem 3rem;
    text-align: center;
    background: url('../images/bg-curvy-mobile.svg') no-repeat bottom;
    background-size: 100% auto;
}

.img-intro {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
}
.title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.p-hero {
    margin: 4rem 0;
    line-height: 2.5rem;
}
.btn {
    width: 90%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: inherit;    
    border: none;
    border-radius: 28px;
    height: 55px;  
}

.btn-hero {
    background-color: var(--blue);
}

.section-grid {
    background-color: var(--main-bg);
    padding:0 3rem 13rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8rem;
    text-align: center;
}
.section-productive{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    padding: 0 3rem;
}

.section-productive > p {
    color:silver
}

.img-productive {
    width: 90%;
    margin: 0 0 8rem;
    align-self: center;
}

.btn-no-bg {
    width:max-content;
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid var(--cyan);
    color: var(--cyan);
}



