@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

:root {
    --main-bg: hsl(218, 28%, 13%);
    --footer-bg: hsl(216, 53%, 9%);
    --testimonial-bg: hsl(219, 30%, 18%);
    --intro-bg: hsl(217, 28%, 15%);
    --cyan: hsl(176, 68%, 64%);
    --blue:hsl(198, 60%, 50%);

}

* *::after *::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    background-color: var(--intro-bg);
    color: white;
    
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.container-content {
    padding-top: 15px;
    max-width: 1600px;
    margin: 0 auto;
}
.header {
    padding: 10px 30px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.logo-container {
    width: 40%;
    display: flex;
    align-items: center;
}
.logo {
    width: 8rem;
    height: auto;
    align-self: center;
}

.nav-menu {
    
    margin: auto 0;
}

.nav-menu > ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.nav-option > a{
    
    font-size: 1.2rem;
    text-decoration: none;
    color: silver;
}

.section-hero {
    padding:7rem 3rem 17rem 3rem;
    text-align: center;
    background: url('../images/bg-curvy-mobile.svg') no-repeat bottom;
    background-size: 100% auto;
}

.img-intro {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
}
.title {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
.p-hero {
    margin: 4rem 0;
    line-height: 2.5rem;
}
.btn {
    display: inline-block;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: inherit;    
    border: none;
    border-radius: 30px;
     
}

.btn-hero {
    background-color: var(--blue);
    width: 90%;
    height: 55px;  
}

.section-grid {
    background-color: var(--main-bg);
    padding:0 3rem 13rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 8rem;
    text-align: center;
}

.grid-feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 20px;
    justify-items: center;
    
}

.section-productive{
    display: flex;
    flex-direction: column;
    background-color: var(--main-bg);
    padding: 0 3rem 13rem;
}
.productive-text {
    display: grid;
    gap: 20px;
}
.productive-text > p {
    color:silver;
    font-size: 1.6rem;
    line-height: 1.6em;
    
}

.img-productive {
    width: 90%;
    margin: 0 0 8rem;
    align-self: center;
}

.btn-no-bg {
    position: relative;
    width:max-content;
    text-align: left;
    background: none;
    text-decoration: none;
    border: none;
    color: var(--cyan);
    font-size: 1.6rem;
}

.btn-no-bg ::after {
    content: "";
    position: absolute;
    background-color: var(--cyan);
    height: 1px;
    bottom: -10%;
    left: 0;
    width: 100%;
}
.btn-no-bg:hover{
    color: white;
    
}
.btn-no-bg:hover ::after{
    background-color: white;
}
.btn-no-bg .arrow-animated {
    transform: translate(4px,10%);
}
.btn-no-bg:hover .arrow-animated {
    color: white; 
    animation: go-right 1.5s ease infinite;
}

@keyframes go-right {
    50% {
        transform: translateX(10px);
    }
}

.section-grid-testimonial {
    background-color: var(--main-bg);
    position: relative;
    padding: 0 30px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
    gap: 40px;
}

.section-grid-testimonial::before{
    content: url(../images/bg-quotes.png);
    left: 9.8%;
    position: absolute;
    top: -40px;
}

.testimonial {
    background-color: var(--testimonial-bg);
    padding: 40px 20px;
    border-radius: 5px;
}

.testimonial p {
    font-size: inherit;
    margin: 0;
}

.autor {
    display: flex;
    margin-top: 20px;
    align-items: center;

}

.autor img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.autor-position {
    margin: 0 10px;
}

.autor-position p {
    font-weight: 600;
}
.section-cta {
    background-color: var(--main-bg);
    padding: 0 20px;
}
.container-cta {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: var(--intro-bg);
    text-align: center;
    padding: 48px 32px 16px 32px;
    gap: 20px;
    transform: translateY(116px);
}

.container-cta h4 {
    font-size: 2rem;
    margin: 0;
}
.container-cta p {
    margin: 0;
    color: silver;
}

.container-cta input{
    width: 100%;
    height: 4rem;
    border-radius: 30px;
}

.btn-gradient{
    height: 5rem;
    width: 80%;
    background: linear-gradient(126deg,var(--cyan), var(--blue));
}

.btn-gradient:hover{
    transform: scale(1.1);
}

footer {
    background-color: var(--footer-bg);
    padding: 180px 30px 30px;
}

.img-footer {
    margin-bottom: 50px;
}
.footer-container {
    display: grid;
    gap:25px
}

.footer-block {
    display: flex;
    align-items: flex-start;
}

.footer-block p {
    padding:0 20px;
    font-size: 1.6rem;
    color: silver;
}
.footer-link-column {
    display: grid;
    gap:20px;
}
.footer-link-column a {
    display: block;
    text-decoration: none;
    color: silver;
    font-size: 1.6rem;
}
.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social a{
    padding:0 10px;
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
}

.attribution {
    color: white;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: white;
}

@media (min-width: 600px) {
    .container-content{
        padding-top: 70px;
    }
    .logo {
        width: 180px;
    }
    .nav-menu a{
        font-size: 1.6rem;
    }
    .section-hero h2 {
        font-size: 4rem;
        line-height: 4rem;
    }
    .p-hero {
        margin:40px auto 40px;
        width: 600px;
        font-size: 2rem;
    }
    .btn-hero {
        width: 280px;
        font-size: 1.6rem;
    }
    .section-grid {
        grid-template-columns:repeat(2,minmax(240px,340px)) ;
        gap: 40px;
    }
    .section-grid h3 {
        font-size: 2rem;
    }
    .img-productive {
        width: 80%;
        height: auto;
    }
    .productive-text {
        text-align: center;
    }
    .productive-text h2 {
        font-size: 3.5rem;
    }
    .btn-no-bg {
        margin: 0 auto;
    }
    .container-cta {
        padding: 48px 70px 16px;
    }
    .container-cta h4 {
        font-size: 3rem;
    }
    .container-cta input {
        width: 48rem;
        margin: 0 auto;
    }
    .btn-gradient {
        width: 20rem;
    }
}   @media (min-width: 900px) {
    
    .header {
        padding:0 80px;
    }
    .img-intro {
        width: 720px;
    }
    .text-hero {
        margin: 0 auto;
        width: 740px;
    }
    .section-hero {
        background: url('../images/bg-curvy-desktop.svg') no-repeat bottom;
        background-size: 100% auto;
        padding: 70px 50px 170px;
    }

    
    .section-grid {
        justify-content: center;
        align-content: center;
        gap:80px 150px;
        grid-template-rows:auto;
    }
}