@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.black-container {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
}

.bar-icon  {
    padding-top:10px ;
    padding-left: 10px;
    font-size: 25px;
}

h2 {
    font-size: 16px;
    margin: 20px;
    text-align: center;
    padding:0 40px;
}
h1 {
    margin: 20px;
    font-size: 35px;
    text-align: center;
    padding: 0 40px;
}

.btn-learn {
    display: block;
    font-size: 25;
    background-color: gray;
    color: white;
    margin: 20px auto;
    font-weight: 600;
    padding: 10px;
}

section {
    padding: 10px;
}

.borded-container {
    max-height: 380px;
    margin: 10px auto;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
}

.borded-container > img {
    height: 150px;
    
}

/* MediaQuerie 480px Tablet */
@media only screen and (min-width: 480px){
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 15px;
    }
    .borded-container {
        max-width: 280px;
        min-height: 450px;
    }
}
/* MediaQuerie 900px Portatiles y pc */
@media only screen and (min-width: 900px) {
    .black-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 350px;
    }

    .bar-icon {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .borded-container {
        min-height: 400px;
        max-width: 32%;
    }
    
}
